<app-header titulo="Grids"></app-header>

<ion-content padding>


<ion-grid>
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-item>
                  <ion-icon slot="start" name="pin"></ion-icon>
                  <ion-label>Marcador</ion-label>
                </ion-item>
                <ion-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo similique doloremque nulla consectetur velit libero eligendi dolorem omnis temporibus. Et odio provident eum ab minima repudiandae, iste officia reiciendis nam.</ion-card-content>
              </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>


</ion-content>
