<ion-header>
  <ion-toolbar>

<ion-buttons slot="start">

  <ion-back-button defaultHref="/">

  </ion-back-button>
</ion-buttons>

    <ion-title>Avatar</ion-title>

    <ion-buttons slot="end">

        <ion-back-button defaultHref="/">
          <ion-avatar>
            <img src="/assets/stan-lee.jpg" />
          </ion-avatar>
        </ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-list>
  <ion-item>
      <ion-avatar slot="start">
          <img src="/assets/stan-lee.jpg" />
        </ion-avatar>
        <ion-label>Stan Lee</ion-label>
  </ion-item>
 
</ion-list>



<ion-chip >
    <ion-avatar>
        <img src="/assets/stan-lee.jpg" />
      </ion-avatar>
      <ion-label>Stan Lee</ion-label>
</ion-chip>
</ion-content>
